.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body, #root {
  height: 100vh;
}

.mainContentGroup {
  @apply h-screen max-h-screen flex flex-col;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  background-color: orange;
  text-align: center;
  width: 100%;
}

.layerControl {
  @apply overflow-auto max-h-full h-full;
}

.vectorDisplay {
  display: flex;
  flex-direction: row;
  background-color: green;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.layerCard {
  min-height: 0;
  background-color: peru;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

.vectorInput {
  width: 40px;
  size: 0;
  text-align: center;
}

.propLabels{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  min-width: none;
}

input {
  min-width: 0;
}

.controlBtns {
  margin: 2px;
  flex: 1;
}

.ctrlBtnSpan {
  flex: 1;
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-self: flex-end;
  width: 100%;
}

.latticeControl {
  display: flex;
  flex-direction: column;
  border-width: 5px;
  border-style: solid;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  flex: 1;
}

.gitLink {
  color: black;
  background-color: "black";
}

.controlColumn {
  @apply flex-none overflow-y-hidden h-full max-h-full;
}

.graphDisplay {
  background-color: brown;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: row;
  background-color: grey;
  justify-content: space-between;
  font-size: x-large;
  padding: 10px;
}

.displayArea {
  @apply flex flex-auto min-h-0 md:flex-row sm:flex-col;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
