.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body, #root {
  height: 100vh;
  @apply bg-slate-800;
}

textarea {
  resize: none;
}

.mainContentGroup {
  @apply h-screen max-h-screen flex flex-col;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  @apply text-gray-300;
  text-align: center;
  width: 100%;
}

.layerControl {
  @apply overflow-auto h-full m-2 sm:mb-10 md:mb-2;
}

.vectorDisplay {
  @apply bg-slate-600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.layerCard {
  @apply min-h-0 bg-slate-700 text-gray-300 m-1 rounded p-1 shadow-gray-100 shadow-md;
}

.vectorInput {
  @apply w-20;
  size: 0;
  text-align: center;
}

.propLabels{
  display: flex;
  margin: 5px;
  justify-content: space-between;
  max-width: 100%;
  min-width: none;
}

input, select {
  @apply bg-slate-500 rounded-sm p-1;
  min-width: 0;
  width: 8rem;
}

.controlBtns {
  @apply flex-1 bg-slate-600 m-1 text-gray-300 rounded;
}

.ctrlBtnSpan {
  @apply w-full flex;
}

.latticeControl {
  display: flex;
  flex-direction: column;
  margin: 5px;
  flex: 1;
}

.gitLink {
  @apply flex items-center text-gray-300;
}

.controlColumn {
  @apply flex-none h-full max-h-full flex flex-col;
}

.graphDisplay {
  width: 100%;
}

.banner {
  @apply bg-slate-700 text-gray-300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: x-large;
  padding: 10px;
}

.displayArea {
  @apply flex flex-auto min-h-0 md:flex-row sm:flex-col;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
